<!-- <div>{{message}}</div>
<my-component></my-component>
<app-my-component2></app-my-component2>
<app-hero-list></app-hero-list> -->
<!-- <app-test-if></app-test-if> -->
<!-- <app-test-directive></app-test-directive> -->
<!-- <router-outlet></router-outlet>
<div>This is app component</div>
<button routerLink="/heroes">My Navigating button</button> -->
<!-- <app-parent-component></app-parent-component> -->
<!-- <app-test-pipes></app-test-pipes> -->
<!-- <app-test-forms-component></app-test-forms-component> -->
<!-- <app-test-reactive-form></app-test-reactive-form> -->

<!-- {{"CHANGE LANGUAGE" | translate}} -->

<!-- <button (click)="changeLanguage()">{{"CHANGE LANGUAGE" | translate : {param1 :  currentLanguage | translate} }}</button> -->

<!-- <button (click)="translate()">Translate button</button> -->
<!-- <app-test-http-service></app-test-http-service> -->
<!-- <app-rx-test></app-rx-test> -->
<app-test-subject1></app-test-subject1>
<app-test-subject2></app-test-subject2>

